{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <img src="employe.photo" class="img-thumbnail" alt="Photo inconnue">
        </div>    
        <div class="row">
            <div class="col-sm">
                <h5 class="text-center">Prénom : {{employe.prenom}}</h5>
           </div>    
            <div class="col-sm">
                <h5 class="text-center">Nom : {{employe.nom}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h5 class="text-center">Mail : {{user.email}}</h5>
            </div>    
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm">
                        <h5 class="text-center">Sync Reseda : </h5>
                    </div>
                    <div class="col-sm">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDisabled" {% if employe.syncReseda == true %} checked {% endif %} disabled>
                            <label class="form-check-label" for="flexRadioDisabled">
                                Oui
                            </label>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDisabled" {% if employe.syncReseda == false %} checked {% endif %} disabled>
                            <label class="form-check-label" for="flexRadioCheckedDisabled">
                                Non
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h5 class="text-center">Statut : {{contrat.status.type}}</h5>
           </div>    
            <div class="col-sm">
                <h5 class="text-center">Année de naissance : {{employe.anneenaissance}}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <h5 class="text-center">Contrat Début : {{ contrat.datedebut | date('d-m-Y')}}</h5>
           </div>
           {% if contrat.datefin != null %}
            <div class="col-sm">
                <h5 class="text-center">Contrat Fin : {{ contrat.datefin | date('d-m-Y')}}</h5>
            </div>
            {% endif %}
            <div class="col-sm">
                <a href="{{path('app_login')}}" class="btn btn-primary my-2">Historique des contrats</a>
            </div>
        </div>
    </div>

{% endblock %}
